{% extends "../base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12">
      <div class="card mb-4 my-3">
        <div class="card-header pb-0 bg-light">
          <h6>Project LIST</h6>
          <a href="{% url 'project_create' %}" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addProjectModal">Add Project</a>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Project Name</th>
                  <th class="text-left text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Technology</th>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Estimated Hours</th>
                  <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Start Date</th>
                  <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">End Date</th>
                  <th class="text-secondary opacity-7">ACTION</th>
                </tr>
              </thead>
              <tbody>
                {% for project in projects %}
                <tr>
                  <td class="border-end">
                    <div class="d-flex px-1 py-1" >
                      <div>
                        <img src="{{project.projectimg.url}}" class="avatar avatar-sm me-3" alt="user1">
                      </div> 
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{project.name}}</h6>
                        <p class="text-xs text-secondary mb-0"></p>
                      </div>
                    </div>
                  </td>
                  <td class="border-end">
                    <p class="text-xs font-weight-bold mb-0">{{project.technology}}</p>
                  </td>
                  <td class="align-middle text-center text-sm border-end">
                    <span class="badge badge-sm bg-gradient-success" style="width: 80px;height: 30px;">{{project.estimated_hours}}</span>
                  </td>
                  <td class="align-middle text-center border-end">
                    <span class="text-secondary text-xs font-weight-bold">{{project.startDate}}</span>
                  </td>
                  <td class="align-middle text-center border-end">
                    <span class="text-secondary text-xs font-weight-bold">{{project.endDate}}</span>
                  </td>
                  <td class="align-middle">
                    <a href="{% url 'project_detail' project.id %}" class="text-light font-weight-bold text-xs btn btn-warning" data-toggle="tooltip" data-original-title="Edit user">
                      DETAIL
                    </a>
                    {% if request.user.role == 'Manager' or request.user.role == "Admin" %}
                    <a href="{% url 'project_update' project.id %}" class="text-light font-weight-bold text-xs btn btn-success" data-toggle="tooltip" data-original-title="Edit user">
                      EDIT
                    </a>
                    <a href="{% url 'project_delete' project.id %}" class="text-light font-weight-bold text-xs btn btn-danger" data-toggle="tooltip" data-original-title="Edit user">
                      DELETE
                    </a>
                    <a href="{% url 'update_team' project.id %}" class="text-light font-weight-bold text-xs btn btn-primary" data-toggle="tooltip" data-original-title="Edit user">
                      CREATE
                    </a> 
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
