{% extends "../base.html" %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <a href="{% url 'project_list' %}">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">
                      Total 
                    </p>
                    <h5 class="font-weight-bolder">Project</h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder"
                        >+{{TotalProject}}</span
                      >
                        Projects
                    </p>
                  </div>
                </div>
              </a>
                <div class="col-4 text-end">
                  <div
                    class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle"
                  >
                    <i
                      class="ni ni-money-coins text-lg opacity-10"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <a href="{% url 'projectmodulelist' %}">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">
                      Project 
                    </p>
                    <h5 class="font-weight-bolder">Modules</h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder"
                        >+{{Project_module}}</span
                      >  Modules
                    </p>
                  </div>
                </div>
              </a>
                <div class="col-4 text-end">
                  <div
                    class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle"
                  >
                    <i
                      class="ni ni-world text-lg opacity-10"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <a href="{% url 'projecttasklist' %}">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">
                      Project
                    </p>
                    <h5 class="font-weight-bolder">Task</h5>
                    <p class="mb-0">
                      <span class="text-danger text-sm font-weight-bolder"
                        >+{{totalTask}}</span>
                       Tasks
                    </p>
                  </div>
                </div>
              </a>
                <div class="col-4 text-end">
                  <div
                    class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle"
                  >
                    <i
                      class="ni ni-paper-diploma text-lg opacity-10"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <a href="{% url 'userlist' %}">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">
                      Total
                    </p>
                    <h5 class="font-weight-bolder">Users</h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder"
                        >+{{totalUser}}</span> Developers
                    </p>
                  </div>
                </div>
              </a>
                <div class="col-4 text-end">
                  <div
                    class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle"
                  >
                    <i
                      class="ni ni-cart text-lg opacity-10"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

<br>
<br>

<div class="row px-md-3" style="margin-top: 15px;">
        
                          <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                            <div class="card">
                              <div class="card-body p-3">
                                <div class="row">
                                  <div class="col-12">
                                    <div class="card mb-4">
                                      <div class="card-header pb-0">
                                        <h4>Started</h4>
                                        <p style="margin: 5px;padding: 5px;height: 40px;width: 40px;border-radius: 20px;" class="btn btn-danger">{{startedTask}}</p>

                                        {% comment %} <a href = "{% url 'project_create' %}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProjectModal">Add Project</a> {% endcomment %}
                                      </div>
                                      <div class="card-body px-0 pt-0 pb-2">
                                        <div class="table-responsive p-0">
                                          <table class="table align-items-center mb-0">
                                            <thead>
                                              <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"><h6>Project</h6></th>
                                                <th class="text-secondary opacity-7"><h6></h6></th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              {% for i in task %}
                                              <tr>
                                                    {% if i.status == 'Started' %}
                                                              <td>
                                                                <div class="d-flex px-2 py-1">
                                                
                                                                  <div class="d-flex flex-column justify-content-center">
                                                                    <h6 class="mb-0 text-sm">{{i.Project}}</h6>
                                                                    <p class="text-xs text-secondary mb-0">{{i.title|title}}</p>
                                                                  </div>
                                                                </div>
                                                              </td>

                                                              <td class="align-middle" >
                                                               
                                                                <form action="{% url 'status_update' i.id %}" method="POST">
                                                                  {% csrf_token %}
                                                                  <input type="submit" value="C" class="btn btn-danger" style="margin: 5px;padding: 5px;height: 40px;width: 40px;border-radius: 20px;">
                                                                </form>
                                                               
                                              
                                                              </td> 
                                                    {% endif %}
                                              </tr>
                                              {% endfor %}
                                              
                                            </tbody>
                                          </table>
                                           {% comment %} <button class="card-button btn btn-info" style="align-self: center;background-color: #007bff;border: none;border-radius: 4px;color: #fff;padding: 8px 16px;cursor: pointer;margin:20px;padding:10px">+ Create Issue</button> {% endcomment %}
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
            
                          <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                            <div class="card">
                              <div class="card-body p-3">
                                <div class="row">
                                  <div class="col-12">
                                    <div class="card mb-4">
                                      <div class="card-header pb-0">
                                        <h4>Processing</h4>
                                        <p style="margin: 5px;padding: 5px;height: 40px;width: 40px;border-radius: 20px;" class="btn btn-info">{{processingTask}}</p>
                                        {% comment %} <a href = "{% url 'project_create' %}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProjectModal">Add Project</a> {% endcomment %}
                                      </div>
                                      <div class="card-body px-0 pt-0 pb-2">
                                        <div class="table-responsive p-0">
                                          <table class="table align-items-center mb-0">
                                            <thead>
                                              <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"><h6>Project</h6></th>
                                                <th class="text-secondary opacity-7"><h6></h6></th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              {% for i in task %}
                                              <tr>
                                                    {% if i.status == 'Processing' %}
                                                              <td>
                                                                <div class="d-flex px-2 py-1">
                                                
                                                                  <div class="d-flex flex-column justify-content-center">
                                                                    <h6 class="mb-0 text-sm">{{i.Project}}</h6>
                                                                    <p class="text-xs text-secondary mb-0">{{i.title|title}}</p>
                                                                  </div>
                                                                </div>
                                                              </td>

                                                              <td class="align-middle">
                                                              
                                                                <form action="{% url 'status_update' i.id %}" method="POST">
                                                                  {% csrf_token %}
                                                                  <input type="submit" value="C" class="btn btn-primary" style="margin: 5px;padding: 5px;height: 40px;width: 40px;border-radius: 20px;"> 
                                                                  <!-- margin: 5px;padding: 5px;height: 40px;width: 40px;border-radius: 20px; -->

                                                                </form>
                                                            
                                              
                                                              </td> 
                                                    {% endif %}
                                              </tr>
                                              {% endfor %}
                                            </tbody>
                                          </table>
                                          
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                            <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                            <div class="card">
                              <div class="card-body p-3">
                                <div class="row">
                                  <div class="col-12">
                                    <div class="card mb-4">
                                      <div class="card-header pb-0">
                                        <h4>Complted </h4>
                                        <p style="margin: 5px;padding: 5px;height: 40px;width: 40px;border-radius: 20px;" class="btn btn-success">{{complteTask}}</p>
                                        {% comment %} <a href = "{% url 'project_create' %}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProjectModal">Add Project</a> {% endcomment %}
                                      </div>
                                      <div class="card-body px-0 pt-0 pb-2">
                                        <div class="table-responsive p-0">
                                          <table class="table align-items-center mb-0">
                                            <thead>
                                              <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"><h6>Project</h6></th>
                                                <th class="text-secondary opacity-7"><h6></h6></th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              {% for i in task %}
                                              <tr>
                                                    {% if i.status == 'Complted' %}
                                                              <td>
                                                                <div class="d-flex px-2 py-1">
                                                
                                                                  <div class="d-flex flex-column justify-content-center">
                                                                    <h6 class="mb-0 text-sm">{{i.Project}}</h6>
                                                                    <p class="text-xs text-secondary mb-0">{{i.title|title}}</p>
                                                                  </div>
                                                                </div>
                                                              </td>

                                                              <td class="align-middle">
                                                                <form action="{% url 'status_update' i.id %}" method="POST">
                                                                  {% csrf_token %}
                                                                  <input type="submit" value="C" class="btn btn-success" style="margin: 5px;padding: 5px;height: 40px;width: 40px;border-radius: 20px;">
                                                                </form>
                                              
                                                              </td> 
                                                    {% endif %}
                                              </tr>
                                              {% endfor %}
                                            </tbody>
                                          </table>
                                          
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
</div>

{% comment %} <canvas id="taskStatusChart"></canvas> {% endcomment %}

<div  class="row" style="height: 400; width: 900px;margin-right: 10px;margin-top: 20px;border-radius: 10px;border-color:black ">
  <div>
    
  </div>
  <div style="width: 400px; height: 430px; background-color: white;margin: 10px;padding: 20px;border-radius: 10%;border-color: black;box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);">
    <p5 style="margin-top: 30px;margin-left: 100px;responsive:true">Task status</p5>
    <canvas id="pie-chart" style="width: 400px; height: 400px;margin-right: 20px;"></canvas>
    {% comment %} <canvas id="pie-chart1" ></canvas> {% endcomment %}
  </div>
  
  <div style="width: 400px; height: 430px;background-color: white;margin: 10px;padding: 20px;border-radius: 10%;box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);">
          <p5 style="margin-top: 30px;margin-left: 100px;responsive:true">Task Priority</p5>
          <canvas id="pie-chart1" style="width: 400px; height: 400px;float: left; margin-right: 20px;"></canvas>
        </div>
      
</div>
<script>
  // JavaScript code to create the chart
  const ctx = document.getElementById('pie-chart').getContext('2d');
  const data = {
      labels: ['Started', 'Processing', 'Complted'],
      datasets: [{
          label: 'Task Status',
          data: [{{ startedTask }}, {{ processingTask }}, {{ complteTask }}],
          backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(54, 162, 235)',
              'rgb(75, 192, 192)' 
          ]
      }]
  };
  const myChart = new Chart(ctx, {
      type: 'doughnut',
      data: data,
      options : {
        responsive:true,
      }
  });
{% comment %} ----------------------------------------------------------------------------------------------- {% endcomment %}
  const ctx1 = document.getElementById('pie-chart1').getContext('2d');
  const data1 = {
      labels: ['High', 'Medium', 'Low'],
      datasets: [{
          label: 'Task Priority',
          data: [{{ HighTask }}, {{ MediumTask }}, {{ LowTask }}],
          backgroundColor: [
          'rgb(255, 80, 80)',
          'rgb(255, 255, 77)',
          'rgb(102, 255, 102)'
          ],

      }]
  };
  const myChart1 = new Chart(ctx1, {
      type: 'doughnut',
      data: data1,
      options : {
        responsive:true,
      }

  });

</script>
{% comment %} <script>
  const ctx = document.getElementById('pie-chart1').getContext('2d');
  const data = {
      labels: ['High', 'Medium', 'Low'],
      datasets: [{
          label: 'Task Status',
          data: [{{ High }}, {{ Medium }}, {{ Low }}],
          backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(54, 162, 235)',
              'rgb(75, 192, 192)'
          ]
      }]
  };
  const myChart = new Chart(ctx, {
      type: 'doughnut',
      data: data,
      options : {
        responsive:true,
      }
  });
  
</script> {% endcomment %}

      
     
                              <!-- <div class="card" style=" background-color: #f9f9f9; border-radius: 4px;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); display: flex;flex-direction: column; max-width: 600px;margin: 50px auto;padding: 24px;">
                                      <h2 class="card-title">Billboard Location API</h2>
                                
                                        <p class="card-description" style="text-align: center;margin-bottom: 16px;">PA-6</p>
                                        <ul  class="card-list" style="list-style: none;padding: 0;margin: 0;">
                                            <li style="margin-bottom: 8px;">Role: <span class="card-data" style=" font-weight: bold;">PA-7</span></li>
                                            <li style="margin-bottom: 8px;">Permission: <span class="card-data">PA-8</span></li>
                                            <li style="margin-bottom: 8px;">API: <span class="card-data">PA-6</span></li>
                                        </ul>
                                        <button class="card-button" style="align-self: center;
                                        background-color: #007bff;
                                        border: none;
                                        border-radius: 4px;
                                        color: #fff;
                                        padding: 8px 16px;
                                        cursor: pointer;
                                    ">+ Create Issue</button>
                            </div>
                            <div class="card" style=" background-color: #f9f9f9; border-radius: 4px;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); display: flex;flex-direction: column; max-width: 600px;margin: 50px auto;padding: 24px;">
                              <h2 class="card-title">Billboard Location API</h2>
                        
                                <p class="card-description" style="text-align: center;margin-bottom: 16px;">PA-6</p>
                                <ul  class="card-list" style="list-style: none;padding: 0;margin: 0;">
                                    <li style="margin-bottom: 8px;">Role: <span class="card-data" style=" font-weight: bold;">PA-7</span></li>
                                    <li style="margin-bottom: 8px;">Permission: <span class="card-data">PA-8</span></li>
                                    <li style="margin-bottom: 8px;">API: <span class="card-data">PA-6</span></li>
                                </ul>
                                <button class="card-button" style="align-self: center;
                                background-color: #007bff;
                                border: none;
                                border-radius: 4px;
                                color: #fff;
                                padding: 8px 16px;
                                cursor: pointer;
                            ">+ Create Issue</button>
                    </div> -->
    </div>
  </body>
</html>
{% endblock content %}