{% extends "../base.html" %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-12">
      <div class="card mb-4 my-3">
        <div class="card-header pb-0 bg-light">
          <h4>All Users</h4>
          {% comment %} <a href = "{% url 'project_create' %}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProjectModal">Add Project</a> {% endcomment %}
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"><h6>Users</h6></th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"><h6>Age</h6></th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"><h6>Eamil</h6></th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"><h6>Salary</h6></th>
                  <th class="text-secondary opacity-7"><h6>ACTION</h6></th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}

                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                    <div>
                         {% if user.userImage.url %}
                       <img src="{{user.userImage.url}}" class="avatar avatar-sm me-3" alt="user1">
                       {% endif %}
                      </div> 
                      <div class="d-flex flex-column justify-content-center">
                        
                        <h6 class="mb-0 text-sm">{{user.username}}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{user.age}}</p>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{user.email}}</p>
                    
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{user.salary}}</p>
                    
                  </td>
                 
                  <td class="align-middle">
                    <a href="{% url "userupdate" user.id %}" class="text-secondary font-weight-bold text-xs btn btn-success" data-toggle="tooltip" data-original-title="Edit user">
                      EDIT
                    </a>
                    {% comment %} <a href="{% url "userlist" user.id %}" class="text-secondary font-weight-bold text-xs btn btn-warning" data-toggle="tooltip" data-original-title="Edit user">
                        DETAIL
                      </a> {% endcomment %}
                      <a href="{% url "userdelete" user.id %}" class="text-secondary font-weight-bold text-xs btn btn-danger" data-toggle="tooltip" data-original-title="Edit user">
                        DELETE
                      </a>
                    
                   </td>
                   
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
    
{% endblock content %}

    
    