{% extends "../base.html" %}
{% load static %} 
{% load crispy_forms_tags %} 
{% block content %}
      <div class="container">   
            <div class="row">
              <center>
                  <div class="col-md-6 my-4" style="border: solid;width: 30rem; background-color: white;justify-content: left;">
                        <center>
                        <h2 class="mt-1">Project Module</h2>
                        </center>

                        <form method="post">
                                {% csrf_token %} 
                                {{form|crispy }}
                                <center><button type="submit" class="btn btn-dark" style="width: 530px;margin-top: 10px;">Update</button></center>
                        </form>
                  </div>
              </center>
            </div>
      </div>
{% endblock content %}