{% extends "../base.html" %}
{% load static %} 
{% load crispy_forms_tags %} 
{% block content %}
      <div class="container">
            <div class="row">
              <center>
                  <div class="col-md-6" style="background-color: white; border-radius: 10px;">
                        <center>
                        <h2 class="mt-1">Project Task</h2>
                        </center>

                        <form method="post" >
                                {% csrf_token %} 
                                {{form|crispy }}
                                <center><button type="submit" class="btn btn-primary" style="width: 590px;margin-top: 10px;">Update</button></center>
                        </form>
                  </div>
              </center>
            </div>
      </div>
{% endblock content %}